* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Helvtica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

h1 {
    font-size: 2.2rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
    opacity: .5;
}

.is-active {
    font-weight: bold;
    color: red;
}


